.aboutus-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  span {
    width: 71%;
    font-size: 1.5em;
    line-height: 1.7;

    ul {
      margin-bottom: 40px;
      list-style: none;

      h3 {
        display: block;
        margin-bottom: 15px;
      }

      li {
        margin-left: 50px;
        font-size: 0.9em;

        &::before {
          font-size: 1.1em;
          content: "- ";
          color: $gold;
        }
      }
    }
  }
}
