.aboutus-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    width: 70%;
    font-size: 1.5em;
    line-height: 1.7em;

    ul {
      margin-bottom: 45px;

      h3 {
        display: block;
        margin-bottom: 8px;
      }

      li {
        margin-left: 50px;
        font-size: 0.9em;
      }
    }
  }
}
