.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0px;
    font-size: 2.5em;
    color: $gold;
  }

  .error-text {
    margin-bottom: 20px;
    color: $delete;
  }
}
