body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: $default;
  background-color: $content-background;
}
