.blog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.3em;

  .new-blog-link {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    a {
      color: $gold;
      text-transform: uppercase;
      transition: 0.4s all ease-in-out;
    }

    a:hover {
      color: $dark-gold;
      cursor: pointer;
    }
  }

  .blogs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 25px 200px 50px 200px;

    .blog {
      a {
        display: inline-block;
        text-decoration: none;
        color: $gold;
        transition: 0.2s all ease-in-out;

        &:hover {
          cursor: pointer;
          color: $dark-gold;
        }

        h1 {
          margin: 0px;
        }
      }

      .blog-content {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        .delete-blog {
          margin-right: 30px;
          cursor: pointer;
          transition: 0.2s all ease-in-out;

          &:hover {
            color: $delete;
          }
        }
      }
    }
  }

  .no-blog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
      font-size: 2em;
    }
  }
}
