.cart-wrapper {
  height: 100%;

  .logged-cart-products {
    .pay-button {
      display: flex;
      justify-content: center;
      padding: 20px 0px 40px 0px;
    }

    .cart-products {
      display: flex;
      flex-direction: column;
      height: inherit;
      justify-content: center;
      align-items: center;

      .product {
        display: flex;
        gap: 70px;
        margin-bottom: 50px;
        border: 3px solid $gold;
        border-radius: 5px;
        padding-right: 100px;
        background-color: $topnav-background;

        .product-img {
          height: 180px;
          border-right: 5px solid $gold;

          img {
            @include product-img();
            border-radius: 2px;
            height: inherit;
          }
        }

        .product-text {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          font-size: 1.6em;

          .product-name {
            a {
              display: inline-block;
              text-decoration: none;
              color: $gold;
              transition: 0.2s all ease-in-out;

              &:hover {
                color: $dark-gold;
              }

              h3 {
                margin: 0;
              }
            }
          }

          .product-cart {
            @include manage-cart();
          }
        }
      }
    }
  }

  .empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    span {
      font-size: 1.8em;

      a {
        text-decoration: none;
        color: $gold;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: $dark-gold;
        }
      }
    }
  }

  .not-logged-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    span {
      font-size: 1.8em;

      a {
        text-decoration: none;
        color: $gold;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: $dark-gold;
        }
      }
    }
  }
}
