.footer-wrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 100%;
  background-color: $content-background;
  color: $default;
  border-top: 2px solid $gold;
  clear: both;

  .footer-left-side {
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;

    .footer-logo {
      display: block;
      margin-bottom: 10px;
      justify-self: center;
      align-self: center;

      a {
        text-decoration: none;
        color: $gold;
        font-size: 0.8em;

        h1 {
          margin: 0;
          padding: 0;
        }
      }
    }

    .footer-links-wrapper {
      display: flex;
      margin: 0px 15px;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      text-transform: uppercase;

      .footer-link {
        transition: 0.4s all ease-in-out;
        text-decoration: none;
        color: $default;

        @include hover();
      }
    }
  }

  .footer-right-side {
    width: 100%;
    .footer-copyright {
      display: grid;
      grid-template-rows: 0.2fr 1fr;
      gap: 5px;
      margin-right: 65px;

      span {
        font-size: 0.65em;
      }
    }
  }
}
