.login-wrapper {
  width: 25%;

  .login-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .form-group {
      @include input-element();
    }
  }

  .go-register {
    margin-top: 20px;

    a {
      color: $gold;
      cursor: pointer;
    }
  }
}
