@media screen and (max-width: 1500px) {
  .app-wrapper {
    font-size: 0.7em;

    .cart-wrapper {
      font-size: 0.9em;

      .logged-cart-products {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;

        .cart-products {
          justify-content: space-evenly;
          padding-left: 0;
          order: 2;
          height: 100%;

          .product {
            padding-right: 0;
            margin-bottom: 25px;
            gap: 20px;
            width: 700px;
            height: 120px;
            font-size: 0.9em;

            .product-img {
              height: 100%;
            }
            .product-text {
              width: 75%;
            }
          }
        }

        .cart-details-wrapper {
          display: flex;
          justify-content: center;
          margin: 25px 0px;
          height: 350px;

          .cart-details {
            order: 1;
            padding: 15px;
            height: 100%;
            width: 30%;
            margin-left: 0;

            .cart-choice {
              margin-top: 20px;
            }

            .cart-button {
              button {
                border-radius: 5px;

                a {
                  .icon-arrow-right {
                    padding-top: 2px;
                    padding-left: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1060px) {
  .app-wrapper {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 850px) {
  .app-wrapper {
    width: 100%;
    font-size: 0.7em;

    textarea {
      height: 100px;
    }

    .nav-wrapper {
      height: 160px;

      .nav-top-wrapper {
        .nav-left-side {
          .search-wrapper {
            .search-bar {
              input {
                height: 25px;
                &::placeholder {
                  color: $default;
                  font-size: 0.9em;
                }
              }
            }
          }
        }

        .nav-right-side {
          font-size: 0.9em;
          .logged-in {
            a {
              padding-bottom: 2px;
            }
          }
        }
      }

      .nav-content-wrapper {
        .nav-links-wrapper {
          font-size: 1.1em;
          display: flex;
          gap: 15px;
          margin: 0;
          padding: 0;
        }
      }
    }

    .content-wrapper {
      min-height: (calc(100vh - 257px));

      .auth-wrapper {
        .login-wrapper,
        .register-wrapper {
          width: 70%;
        }
      }

      .home-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
      }

      .selects-wrapper {
        margin: 15px 20px 0px 0px;
      }

      .products-wrapper {
        padding: 0px 20px;

        .product {
          grid-template-columns: 0.5fr 1fr;
          margin: 35px 0px;
          height: 120px;
          font-size: 0.7em;

          .product-img {
            height: inherit;
          }

          .product-text {
            padding: 0px 10px;

            .product-name {
              padding: 0;

              a {
                h3 {
                  padding: 0px 0px 2px 0px;
                }
              }
            }

            .product-description {
              line-height: 1.4em;
              padding-right: 10px;
            }
          }
          .product-price-cart {
            .product-cart {
              padding-right: 10px;
            }
          }
        }
      }

      .product-detail {
        padding: 0px 60px;

        .product-wrapper {
          .product {
            display: grid;
            grid-template-rows: 1fr 1.4fr;
            gap: 0px;

            .product-img {
              height: 100%;
              border: none;
              border-bottom: 4px solid $gold;
            }

            .product-text {
              font-size: 1.3em;
              display: grid;
              grid-template-columns: 1fr;
              width: 90%;
              height: 100%;
              padding: 25px 20px;
            }
          }
        }
      }

      .blog-wrapper {
        .blogs {
          padding: 25px 100px 50px 100px;
        }
      }

      .aboutus-content-wrapper {
        span {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 0;
          width: 75%;

          ul {
            margin: 0;

            h3 {
              margin: 10px 0px;
            }

            li {
              margin: 0;
            }
          }
        }
      }

      .product-manager-wrapper {
        font-size: 0.8em;
        grid-template-columns: 1fr 1fr;

        .product-form-wrapper {
          gap: 20px;
          padding: 30px 30px;
        }

        .product-list-wrapper {
          height: 100%;

          .product {
            padding: 15px;

            .product-text {
              .actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
              }
            }
          }
        }
      }

      .cart-wrapper {
        font-size: 0.9em;

        .logged-cart-products {
          display: flex;
          flex-direction: column;
          margin: 0;
          height: 100%;

          .cart-products {
            justify-content: space-evenly;
            padding-left: 0;
            order: 2;
            height: 100%;

            .product {
              padding-right: 0;
              margin-bottom: 25px;
              gap: 20px;
              width: 320px;
              height: 90px;
              font-size: 0.9em;

              .product-img {
                height: 100%;
              }
              .product-text {
                width: 75%;
              }
            }
          }

          .cart-details-wrapper {
            display: flex;
            justify-content: center;
            margin: 25px 0px;
            height: 300px;

            .cart-details {
              order: 1;
              padding: 15px;
              height: 85%;
              width: 45%;
              margin-left: 0;

              .cart-choice {
                margin-top: 20px;
              }

              .cart-button {
                button {
                  border-radius: 5px;

                  a {
                    .icon-arrow-right {
                      padding-top: 2px;
                      padding-left: 2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer-wrapper {
      grid-template-columns: 1fr;
      font-size: 0.9em;
      height: 95px;

      .footer-left-side {
        margin-top: 2px;

        .footer-logo {
          margin-bottom: 5px;
        }
      }

      .footer-right-side {
        text-align: center;

        .footer-copyright {
          margin: 0;
        }
      }
    }
  }
}
