@media screen and (max-width: 1060px) {
  .app-wrapper {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 850px) {
  .app-wrapper {
    width: 100%;
    font-size: 0.7em;

    .nav-wrapper {
      height: 160px;

      .nav-top-wrapper {
        .nav-right-side {
          .logged-in {
            a {
              padding-bottom: 2px;
            }
          }
        }
      }

      .nav-content-wrapper {
        .nav-links-wrapper {
          font-size: 1.1em;
          display: flex;
          gap: 15px;
          margin: 0;
          padding: 0;
        }
      }
    }

    .content-wrapper {
      min-height: (calc(100vh - 257px));

      .auth-wrapper {
        .login-wrapper,
        .register-wrapper {
          width: 70%;
        }
      }

      .home-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
      }

      .selects-wrapper {
        margin: 15px 20px 0px 0px;
      }

      .products-wrapper {
        padding: 0px 20px;

        .product {
          grid-template-columns: 0.5fr 1fr;
          margin: 35px 0px;
          height: 120px;
          font-size: 0.7em;

          .product-img {
            height: inherit;
          }

          .product-text {
            padding: 0px 10px;

            .product-name {
              a {
                h3 {
                  padding: 0px 0px 2px 0px;
                }
              }
            }

            .product-description {
              line-height: 1.4em;
              padding-right: 10px;
            }
          }
          .product-price-cart {
            .product-cart {
              padding-right: 10px;
            }
          }
        }
      }

      .aboutus-content-wrapper {
        span {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 0;
          width: 75%;

          ul {
            margin: 0;

            h3 {
              margin: 10px 0px;
            }

            li {
              margin: 0;
            }
          }
        }
      }

      .blog-wrapper {
        .blogs {
          padding: 25px 100px 50px 100px;
        }
      }

      textarea {
        height: 100px;
      }

      .product-manager-wrapper {
        font-size: 0.8em;
        grid-template-columns: 1fr 1fr;

        .product-form-wrapper {
          gap: 20px;
          padding: 30px 30px;
        }

        .product-list-wrapper {
          height: 100%;

          .product {
            padding: 15px;

            .product-text {
              .actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
              }
            }
          }
        }
      }
    }

    .footer-wrapper {
      grid-template-columns: 1fr;
      font-size: 0.9em;
      height: 95px;

      .footer-left-side {
        margin-top: 2px;

        .footer-logo {
          margin-bottom: 5px;
        }
      }

      .footer-right-side {
        text-align: center;

        .footer-copyright {
          margin: 0;
        }
      }
    }
  }
}
