@media screen and (max-width: 1060px) {
  .app-wrapper {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 850px) {
  .app-wrapper {
    width: 100%;
    font-size: 0.7em;

    .nav-wrapper {
      .nav-top-wrapper {
        .nav-right-side {
          .logged-in {
            a {
              padding-bottom: 2px;
            }
          }
        }
      }

      .nav-content-wrapper {
        .nav-links-wrapper {
          font-size: 1.1em;
          display: flex;
          gap: 15px;
          margin: 0;
          padding: 0;
        }
      }
    }

    .content-wrapper {
      .auth-wrapper {
        .login-wrapper,
        .register-wrapper {
          width: 70%;
        }
      }

      .home-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
      }

      .selects-wrapper {
        margin: 15px 20px 0px 0px;
      }

      .products-wrapper {
        padding: 0px 20px;

        .product {
          grid-template-columns: 0.5fr 1fr;
          margin: 35px 0px;
          height: 120px;
          font-size: 0.7em;

          .product-img {
            height: inherit;
          }

          .product-text {
            padding: 0px 10px;

            .product-name {
              a {
                h3 {
                  padding: 0px 0px 2px 0px;
                }
              }
            }

            .product-description {
              line-height: 1.4em;
              padding-right: 10px;
            }
          }
          .product-price-cart {
            .product-cart {
              padding-right: 10px;
            }
          }
        }
      }
    }

    .footer-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 0.9em;

      .footer-left-side {
        margin-top: 2px;

        .footer-logo {
          margin-bottom: 5px;
        }
      }

      .footer-right-side {
        text-align: center;

        .footer-copyright {
          margin: 0;
        }
      }
    }
  }
}
