@mixin hover {
  &:hover {
    cursor: pointer;
    color: $gold;
  }
}

@mixin base-btn {
  cursor: pointer;
  height: 42px;
  width: 120px;
  font-size: 1.3em;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  background-color: $gold;
  color: #000;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $dark-gold;
  }
}

@mixin input-element {
  input {
    color: $default;
    padding: 10px;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid $gold;
    background-color: $topnav-background;
    transition: 0.2s all ease-in-out;
    font-size: 1.1em;

    &:focus {
      outline: none;
      border-bottom: 1px solid $dark-gold;
    }

    &::placeholder {
      color: $default;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $default;
      -webkit-box-shadow: 0 0 0px 1000px $topnav-background inset;
    }
  }
}

@mixin actions-icons {
  cursor: pointer;
  color: $default;
  font-size: 1.5em;
  transition: 0.2s all ease-in-out;
}

@mixin product-img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: fill;
}

@mixin manage-cart {
  .add-cart {
    text-decoration: none;
    color: $gold;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.2s all ease-in-out;

    &:hover {
      color: $dark-gold;
      cursor: pointer;
    }
  }

  .delete-cart {
    text-decoration: none;
    color: $gold;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.2s all ease-in-out;

    &:hover {
      color: $delete;
      cursor: pointer;
    }
  }
}
