.blog-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  width: 95%;
  @include input-element();

  .image-uploader {
    display: grid;
    gap: 20px;
    height: 100%;
    width: 35%;

    .dz-message {
      color: black;
    }

    .dz-remove {
      text-decoration: none;
      color: $delete;
    }

    .product-manager-image-wrapper {
      img {
        width: 100%;
        height: 180px;
        object-fit: fill;
        border-radius: 5px;
      }
    }

    .image-removal-link {
      display: flex;
      justify-content: center;

      a {
        font-weight: 900;
        color: $delete;
        cursor: pointer;
      }
    }
  }

  .btn {
    margin-top: 0;
  }
}
