.nav-wrapper {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  height: 210px;
  width: 100%;
  color: #bebebe;
  border-bottom: 2px solid #cea235;

  .nav-top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1e1f26;

    .nav-left-side {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 55%;
        width: 25%;
        color: #bebebe;
        background-color: #252830;
        border: 0;

        &:focus {
          outline: none;
        }
      }
    }

    .nav-right-side {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      padding: 0px 38%;
      font-size: 0.8em;
      text-transform: uppercase;

      .nav-login {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #bebebe;
          transition: 0.2s all ease-in-out;

          @include hover();
        }
      }

      .nav-cart {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          width: 80%;
          justify-content: space-evenly;
          align-content: center;
          text-decoration: none;
          color: #bebebe;
          transition: 0.2s all ease-in-out;

          @include hover();
        }
      }
    }
  }

  .nav-content-wrapper {
    display: grid;
    grid-template-rows: 1.4fr 1fr;
    background-color: #131417;

    .nav-logo {
      display: block;
      place-self: center;
      font-size: 1.6em;

      a {
        text-decoration: none;
        color: #cea235;

        h1 {
          margin: 0;
          padding: 0;
        }
      }
    }

    .nav-links-wrapper {
      display: flex;
      padding: 0 25%;
      justify-content: space-evenly;
      align-items: center;
      .nav-link {
        font-size: 1.6em;

        a {
          text-decoration: none;
          color: #bebebe;
          transition: 0.2s all ease-in-out;

          @include hover();
        }
      }
    }
  }
}
