.nav-wrapper {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  height: 180px;
  width: 100%;
  color: $default;
  border-bottom: 2px solid $gold;
  box-sizing: border-box;

  .nav-top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $topnav-background;

    .nav-left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .search-wrapper {
        width: 200px;

        .search-bar {
          display: flex;
          align-items: center;
          position: relative;

          .search-icon {
            display: flex;
            position: absolute;
            padding-left: 10px;
            font-size: 0.9em;
          }

          input {
            display: block;
            height: 28px;
            width: 100%;
            color: $default;
            background-color: #252830;
            border: 0;
            border-radius: 2px;
            padding-left: 33px;

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: $default;
            }
          }
        }

        .search-results {
          display: flex;
          flex-direction: column;
          width: inherit;
          max-height: 140px;
          background-color: $input-background;
          border-radius: 5px;
          margin-top: 4px;
          position: absolute;
          overflow: auto;

          a {
            text-decoration: none;
            color: $default;

            .result {
              padding: 5px 20px;

              &:hover {
                background-color: $topnav-background;
                color: $gold;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .nav-right-side {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      justify-content: center;
      font-size: 0.8em;
      text-transform: uppercase;

      .logged-in {
        display: flex;
        justify-content: end;
        align-items: center;

        a {
          margin-top: 5px;
          margin-left: 5px;
          text-decoration: none;
          color: $default;
          transition: 0.4s all ease-in-out;

          @include hover();
        }
      }

      .nav-login {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: $default;
          transition: 0.2s all ease-in-out;

          @include hover();
        }
      }

      .nav-cart {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          gap: 3px;
          width: 80%;
          text-decoration: none;
          color: $default;
          transition: 0.4s all ease-in-out;

          @include hover();

          .nav-cart-icon {
            margin-top: 1px;
            font-size: 1.1em;
          }
        }

        .active {
          color: $gold;
        }
      }
    }
  }

  .nav-content-wrapper {
    display: grid;
    grid-template-rows: 1.4fr 1fr;
    background-color: $content-background;

    .nav-logo {
      display: block;
      place-self: center;
      font-size: 1.6em;

      a {
        text-decoration: none;
        color: $gold;

        h1 {
          margin: 0;
          padding: 0;
        }
      }
    }

    .nav-links-wrapper {
      display: flex;
      margin: 0px 30px;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      text-transform: uppercase;

      .nav-link {
        transition: 0.4s all ease-in-out;
        text-decoration: none;
        color: #bebebe;

        @include hover();
      }

      .active {
        color: $gold;
      }
    }
  }
}
