.payment-choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 60px 0px;

  h2 {
    margin: 0px 0px 30px 0px;
    font-size: 1.8em;
    color: $gold;
  }

  .payment-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    place-items: center;
    width: 30%;
    height: 45%;

    .payment-option {
      height: 100%;
      width: 100%;
      background-color: $gold;
      border-radius: 15px;

      a {
        .paypal {
          height: 125px;
          width: 65%;
          aspect-ratio: 4/3;
          object-fit: fill;
        }

        .credit-card {
          height: 125px;
          width: 50%;
          aspect-ratio: 4/3;
          object-fit: fill;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        transition: 0.3s all ease-in-out;

        &:hover {
          background-color: $dark-gold;
          border-radius: 15px;
        }
      }
    }
  }

  .payment-cancel {
    button {
      height: 100%;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
