.product-detail {
  height: 100%;
  padding: 0px 300px;

  .product-wrapper {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;

    .product {
      display: flex;
      gap: 70px;
      border: 3px solid $gold;
      border-radius: 5px;
      background-color: $topnav-background;

      .product-img {
        height: 350px;
        border-right: 5px solid $gold;

        img {
          @include product-img();
          border-radius: 2px;
          height: inherit;
        }
      }

      .product-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.4em;
        width: 40%;
        padding: 15px 0px;

        .product-name {
          a {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: $gold;

            h3 {
              margin: 0;
              padding: 0;
              font-size: 1.5em;
            }
          }
        }

        .product-description {
          text-align: justify;
          line-height: 1.5em;
        }

        .product-price-cart {
          display: flex;
          justify-content: space-between;

          .product-cart {
            @include manage-cart();
          }
        }
      }
    }
  }
}
