.product-detail {
  .product {
    .product-img {
      img {
      }
    }

    .product-text {
      .product-name {
        a {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
          color: $default;

          h3 {
            margin: 0;
            padding: 0;
          }
        }
      }
      .product-description {
      }
      .product-price-cart {
        display: flex;
        .product-price {
        }
        .product-cart {
          @include manage-cart();
        }
      }
    }
  }
}
