.selects-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 300px;

  select {
    background-color: $input-background;
    color: $gold;
    border: 1px solid $gold;
    border-radius: 5px;
    font-size: 1.1em;
    height: 35px;
    width: 110px;
    margin-left: 8px;
    padding-left: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.products-wrapper {
  padding: 0px 30px;
  .product {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 180px;
    width: 100%;
    margin: 50px 0px;
    background-color: $topnav-background;

    .product-img {
      height: 180px;
      img {
        @include product-img();
        height: inherit;
      }
    }

    .product-text {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      height: inherit;
      width: 95%;
      padding: 0px 40px;
      font-size: 1.2em;

      .product-name {
        h3 {
          padding: 0px 0px 10px 0px;
          margin: 0px;
          color: $gold;
          font-size: 2em;
        }
      }
      .product-description {
        line-height: 1.5em;
      }

      .product-price-cart {
        display: flex;
        justify-content: space-between;

        .product-price {
          font-size: 1.4em;
        }

        .product-cart {
          display: flex;
          align-items: center;
          font-size: 1.1em;
          padding-right: 150px;
          color: $gold;

          .add-cart {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
