.selects-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 300px;

  select {
    background-color: $input-background;
    color: $gold;
    border: 1px solid $gold;
    border-radius: 5px;
    font-size: 1.1em;
    height: 35px;
    width: 110px;
    margin-left: 8px;
    padding-left: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.products-wrapper {
  flex: 1;
  padding: 0px 30px;

  .product {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 180px;
    width: 100%;
    margin: 45px 0px;
    border-radius: 5px;
    background-color: $topnav-background;

    .product-img {
      height: 100%;

      img {
        @include product-img();
        border-radius: 5px;
        height: inherit;
      }
    }

    .product-text {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      height: inherit;
      width: 95%;
      padding: 0px 40px;
      font-size: 1.2em;

      .product-name {
        padding-bottom: 10px;

        a {
          display: inline-block;
          text-decoration: none;

          h3 {
            margin: 0px;
            color: $gold;
            font-size: 2em;
          }
        }
      }

      .product-description {
        line-height: 1.5em;
      }

      .product-price-cart {
        display: flex;
        justify-content: space-between;

        .product-price {
          font-size: 1.4em;
        }

        .product-cart {
          display: flex;
          align-items: center;
          font-size: 1.1em;
          padding-right: 150px;

          @include manage-cart();
        }
      }
    }
  }
}
