.register-wrapper {
  width: 25%;

  .register-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    .form-group {
      @include input-element();
    }

    .same-passwords {
      color: $delete;
    }

    button {
      margin: 0;
    }
  }

  .go-login {
    margin-top: 20px;

    a {
      color: $gold;
      cursor: pointer;
    }
  }
}
