textarea {
  color: $default;
  padding: 10px;
  height: 200px;
  width: 100%;
  border: 1px solid $gold;
  border-radius: 5px;
  background-color: $topnav-background;
  transition: 0.2s all ease-in-out;
  font-size: 1.1em;
  font-family: "Arial", sans-serif;
  outline: none;

  &:focus {
    border: 1px solid $dark-gold;
  }

  &::placeholder {
    color: $default;
    font-family: "Arial", sans-serif;
  }
}
